@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;

  .loginBoxContainer {
    background-color: #fff;
    border: 1px solid #fefefe;
    padding: 0 35px;
    margin: 10px;

    .instagramTitle {
      font-family: "Lobster", cursive;
      font-size: 50px;
      margin: 30px 0;
      text-align: center;
    }

    .loginInput {
      @include flexCenter;
      height: 40px;
      width: 280px;
      margin: 0 auto;
      border: 0.5px solid #f0f0f0;
      border-radius: 5px;
      text-indent: 10px;
    }

    .inputPassword {
      margin-top: 5px;
      margin-bottom: 20px;
    }

    .loginBtn {
      display: block;
      margin: 0 auto;
      height: 40px;
      width: 280px;
      border: none;
      border-radius: 5px;

      &.valid {
        background-color: #76c4f9;
        color: #ffffff;

        &:hover {
          background-color: #4db5fa;
        }
      }

      &.invalid {
        background-color: #d6eaf7;
        color: #ffffff;
      }
    }

    .passwordSearch {
      font-size: 10px;
      text-align: center;
      margin-top: 30%;
    }
  }
}
